<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CashBox | Pay Your Part</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }


    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="{{ STATIC_URL }}img/logo.png" style="margin-left:-20px;"></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right" style="margin:15px 10px 0px 0;"> <img src="{{ STATIC_URL }}img/pic-daniel.jpg" width="40" height="40" style="margin-right:6px;border:2px solid #FFF;  -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;"> Logged in as <a href="#" class="navbar-link">Daniel Piers</a> </p>
            <!--<ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>-->
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <div class="hero-unit" style="margin-top:-20px;display:none;">
            <h1 style="float:left;">Ski Trip 2012</h1>
             <p style="float:right;"><img src="{{ STATIC_URL }}img/goal.png" id="goal-bar"></p>
            <p style="float:left;font-size:12px;padding:0;">Created by <a href="#">Ryan Smith</a></p>
            <p style="clear:both;">Hey everybody! I can't wait for our ski trip. I set up this CashBox so we can pay for the rental car, lodging, and lift tickets. Ya'll are the best. I'm so excited about hanging out with the bears and wild wolves. Maybe, just maybe if we're lucky we'll get to do snow angels.
            <ul>
            <li>$140 for lodging for three nights</li>
            <li>$50 for a lift ticket</li>
            <li>$25 for gas and car rental</li>
            </ul>
            </p>
            <p style="border-bottom:1px #999 solid; width:auto; margin:-14px 0 0 0;padding:0;"></p>
            <h2>You still owe: <span id="still-owe">$215</span></h2>
           
            <p style="float: left; margin:20px 0 0 0;">
            <a href="#"><img src="{{ STATIC_URL }}img/pic-katyp.jpg" width="54" height="54" style="margin:0 3px;border:1px solid #CCC;"></a>
              <a href="#"><img src="{{ STATIC_URL }}img/pic-mikep.jpg" width="54" height="54" style="margin-right:3px;border:1px solid #CCC;"></a>
              <a href="#"><img src="{{ STATIC_URL }}img/pic-kristenp.jpg" width="54" height="54" style="margin-right:3px;border:1px solid #CCC;"></a>
              <a href="#"><img src="{{ STATIC_URL }}img/pic-jordanp.jpg" width="54" height="54" style="margin-right:3px;border:1px solid #CCC;"></a>
              <a href="#"><img id="ryan-thumbnail" src="{{ STATIC_URL }}img/pic-ryan.jpg" width="54" height="54" style="margin-right:3px;border:1px solid #CCC;"></a>
              <a href="#"><img src="{{ STATIC_URL }}img/pic-jade.jpg" width="54" height="54" style="margin-right:3px;border:1px solid #CCC;"></a>
              <a href="#"><img src="{{ STATIC_URL }}img/pic-plus.png" width="54" height="54" style="margin-right:0px;border:1px solid #CCC;"></a>

              </p>
            <p><a style="float:right; margin:30px 0 0 10px; font-size:24px;" class="btn btn-large" href="#" id="beerclub-link">Close</a><a class="btn btn-primary btn-large" style="float:right; margin:30px 0 0 0; font-size:24px;outline:none;" href="#payModal" role="button" data-toggle="modal" id="pay-link">Pay $215</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
            <p><img src="{{ STATIC_URL }}img/dash-cb.png"></p>
              <h2>Ski Trip 2012</h2>
              <p><span id="skitrip-due">$215 due by December 31</span></p>
              <img src="{{ STATIC_URL }}img/pic-jade.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-mike.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-jordan.jpg" width="27" height="27" style="margin-right:2px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-ryan.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-kristen.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-katy.jpg" width="27" height="27" style="margin-right:0px;border:1px solid #CCC;">
              &nbsp;
                            <p><a style="float:right;"class="btn" href="#" id="skitrip-link">Open</a></p>
            </div><!--/span-->
            
            
            <div class="span4">
            <p><img src="{{ STATIC_URL }}img/dash-cb.png"></p>
              <h2>Breast Cancer 5k</h2>
              <p>$1,205 has been raised</p>
              <img src="{{ STATIC_URL }}img/pic-bri.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-jade.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-sam.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-katy.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-kristen.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-2.png" width="27" height="27" style="margin-right:0px;border:1px solid #CCC;">
              &nbsp;
              <p><a style="float:right;"class="btn" href="#">Open</a></p>
            </div><!--/span-->
            
            
                        <div class="span4">
            <p><img src="{{ STATIC_URL }}img/dash-cb.png"></p>
              <h2>Rent House</h2>
              <p>$350 due by January 17</p>
              <img src="{{ STATIC_URL }}img/pic-lamb.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-john.jpg" width="27" height="27" style="margin-right:2px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-ryan.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-daniel.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              &nbsp;
               
              <p><a style="margin-top:20px; float:right;"class="btn" href="#">Open</a></p>
            </div><!--/span-->
              </div><!--/row-->
            
          
          <div class="row-fluid">
            <div class="span4">
            <p><img src="{{ STATIC_URL }}img/dash-cb.png"></p>
              <h2>ΛΔK Tshirts</h2>
              <p>$15 due by March 4</p>
              <img src="{{ STATIC_URL }}img/pic-jade.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-bri.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-kristen.jpg" width="27" height="27" style="margin-right:2px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-katy.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-sam.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-8.png" width="27" height="27" style="margin-right:0px;border:1px solid #CCC;">
              &nbsp;
              <p><a style="float:right;"class="btn" href="#">Open</a></p>
            </div><!--/span-->

            {% for box in cashboxes %}
                <h2>{{ box.name }}</h2>
                <p>{{ box.status }}</p>
                {% for user in box.users %}
                    <img src="{{ STATIC_URL }}{{ user.thumbnail_pic }}}" class="user-thumbnail">
                {% endfor %}
            {% endfor %}
            
            
            <div class="span4">
            <p><img src="{{ STATIC_URL }}img/dash-cb.png"></p>
              <h2>Beer Club</h2>
              <p>$74 due by January 8</p>
              <img src="{{ STATIC_URL }}img/pic-lamb.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-luke.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-jordan.jpg" width="27" height="27" style="margin-right:2px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-ryan.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-daniel.jpg" width="27" height="27" style="margin-right:3px;border:1px solid #CCC;">
              <img src="{{ STATIC_URL }}img/pic-5.png" width="27" height="27" style="margin-right:0px;border:1px solid #CCC;">
              &nbsp;
              <p><a style="float:right;" class="btn" href="#" id="beerclub-link">Open</a></p>
            </div><!--/span-->
            
            
            <div class="span4" style="border: 2px dashed #dadada;">
            <p><img src="{{ STATIC_URL }}img/dash-newcb.png"></p>
              <h2 style="color:#cfcfcf;">New CashBox</h2>
              <p><a style="margin-top:16px;float:right;"class="btn" href="#">Create</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        
        
            <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Notifications</li>
              <!--<li class="active"><a href="#">Link</a></li>-->
              <li><a id="paid-notification" href="#" style="display:none;">Daniel Piers paid $215 to Ski Trip 2012.</a></li>
              <li><a href="#">Jordan Critz paid $215 to Ski Trip 2012.</a></li>
              <li><a href="#">Jordan Critz created an account!</a></li>
              <li><a href="#">Jade Newby and Caitlian Smith joined Ski Trip 2012.</a></li>
              <li><a href="#">Ski Trip 2012 was created.</a></li>
              <li><a href="#">Jon Lamb made the monthly payment of $175 to Rent House</a></li>
              <li><a href="#">Rent House was created.</a></li>
              <li><a href="#">ΛΔK Tshirts was created.</a></li>
              <li><a href="#">Daniel Piers contributed $75 to Breast Cancer 5k.</a></li>
              <li><a href="#">Ryan Smith paid $17 to Beer Club.</a></li>
              <li><a href="#">Beer Club was created.</a></li>


            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <!-- Modal -->
      <div id="payModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 style="font-weight:300;"id="payModalLabel">Pay <strong>$215</strong> towards <strong>Ski Trip 2012</strong></h3>
        </div>
        <div class="modal-body">
          <p>An email will be sent to Ryan Smith confirming that you have made your payment.</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="btn btn-primary" data-dismiss="modal" id="confirm-payment">Confirm Payment</button>
        </div>
      </div>
      

      <hr>

      <footer>
       <p style="font-size:12px; text-align: center; float:left;"><a href="#">About Us</a> &nbsp;|&nbsp; <a href="#">The Team</a> &nbsp;|&nbsp; <a href="#">Privacy Policy</a> &nbsp;|&nbsp; <a href="#">Terms of Use</a> </p>
        <p style="font-size:12px; text-align: center; float:right;">&copy; CashBox 2012 &nbsp;|&nbsp; A project by <a href="http://www.twitter.com/danielpiers">Daniel Piers</a> and <a href="http://www.twitter.com/ryan_the_smith">Ryan Smith</a> </p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/vendor/jquery-1.8.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/bootstrap.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {

      $('#skitrip-link').on("click", function() {
        $('.hero-unit').slideDown();
      });

      $('#beerclub-link').on("click", function() {
        $('.hero-unit').slideUp();
      });

      $('#confirm-payment').on("click", function() {
        $('#pay-link').html('Paid!');
        $('#pay-link').removeClass('btn-primary');
        
        $('#goal-bar').attr('src', '{{ STATIC_URL}}img/goal_paid.png');
        
        $('#ryan-thumbnail').attr('src', '{{ STATIC_URL}}img/pic-ryanp.jpg');
    
        $('#still-owe').html('$0');
        $('#still-owe').css('color', '#3dbda5');

        $('#skitrip-due').html('$1,075 of $1,290 has been paid');

        $('#paid-notification').slideDown(500);

        // lol hackasaurus-rex
        $.get('/email_ryan/');
      });      
    });
    </script>
  </body>
</html>